<html>
    <head>
        <script src="static/interface.js"></script>
        <link rel="stylesheet" href="static/conversation.css">
    </head>
    <body>
        <div class="messages" id="messages"></div>
        <div class="user_input">
            <div class="next_message">
                <textarea rows="5" cols="60" placeholder="Your message" id="user_msg"></textarea>
            </div>
            <div class="send_button">
                <button id="send_button" onclick="sendMessage();">Send</button>
            </div>
        </div>
        <script>page_loader();</script>
    </body>
</html>